footer {
  background-color: #f2f2f2;
  padding: 25px;
}
#btn{
  background-color: #222222;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 8px 2px;
  cursor: pointer;
}

#amount{
  background-color: #222222;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
}

#totalamount{
  background-color: #222222;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 8px 2px;
}

#Checkout{
  background-color: whitesmoke;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  width: auto;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#Checkout:after{
  content: "";
  background: #222222;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20% !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

#Checkout:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#totalcheck{
  background-color: #222222;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  font-size: 16px;
  margin: 8px 2px;
}

.backcolor{
  border-color: #222222 !important;
  border-style: solid double;
}

.swal-box-size{
  width: 800px;
  height: 550px;
  font-size: 18px;
  color: black;
}
#stylecart{
  border: 2px solid;
  display: grid;
  font-size: 20px;
  grid-template-columns: auto 1fr;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}
#stylecart p{
  text-align: justify;
  margin: 0 auto;
}

.Account-swal-box-size{
  width: 600px;
  height: 550px;
  font-size: 18px;
  color: black;
}

.deals-swal-box-size{
  width: 500px;
  height: 450px;
  font-size: 18px;
  color: black;
}

#disable{
  background-color: black;
  border: none;
  color: ghostwhite;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  width: auto;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#disable:after{
  content: "";
  background: navajowhite;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20% !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

#disable:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}